* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

:root {
  scroll-behavior: smooth;
  font-family: "Noto Sans KR", sans-serif;
}

.dark {
  --surface: #121212;
  --primary: #000000;
  --text: #fff;
  --border: #cf6679;
  --background: #121212;
  --hover: rgba(255, 255, 255, 0.801);
}

.light {
  --surface: #d8cfcfda;
  --primary: #ffffff;
  --text: #000000;
  --border: #b00020;
  --background: #ffffffda;
  --hover: #000000c0;
}

body {
  background: var(--background);
  color: var(--text);
  -webkit-transition: background 0.5s ease-in-out, color 1s ease-in-out;
  transition: background 0.5s ease-in-out, color 1s ease-in-out;
}

.navbar {
  height: 70px;
  background: -webkit-gradient(linear, left top, right top, from(var(--surface)), to(var(--primary)));
  background: linear-gradient(to right, var(--surface), var(--primary));
  color: var(--text);
}

.navbar .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.navbar .navbar-nav .include-dropdown .theme {
  color: var(--text);
  font-weight: bold;
  background: transparent;
  -webkit-box-shadow: 0px 0px 0px transparent;
          box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
}

.navbar .navbar-nav .include-dropdown:focus-within .dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .navbar-nav .dropdown {
  border-top: 4px solid var(--border);
  background: var(--background);
  width: 180px;
  height: 30px;
  padding: 20px;
  font-weight: bold;
  position: absolute;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(-35%);
          transform: translateX(-35%);
  margin-top: 1.5rem;
  z-index: 2;
  display: none;
  -webkit-box-shadow: 0 1px 2px 2px var(--primary);
          box-shadow: 0 1px 2px 2px var(--primary);
}

.navbar .navbar-nav .dropdown .nav-item {
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.navbar .navbar-nav .dropdown .nav-item:hover {
  color: var(--hover);
}

.navbar .navbar-nav .dropdown .dropdown-item {
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

@media (max-width: 600px) {
  .navbar .navbar-nav .dropdown {
    width: 120px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 8rem;
  }
  .navbar .navbar-nav .dropdown .dropdown-item {
    padding: 0.5rem 0;
  }
  .navbar .navbar-nav .include-dropdown:focus-within .dropdown {
    display: block;
    text-align: center;
  }
}

span {
  color: var(--border);
}

.dropdown-item:hover {
  color: var(--hover) !important;
}

#home {
  background: -webkit-gradient(linear, left top, right top, from(var(--surface)), to(var(--primary)));
  background: linear-gradient(to right, var(--surface), var(--primary));
  text-align: center;
  padding: 5rem 0;
  color: var(--text);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 50% 100%, 0% 75%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 50% 100%, 0% 75%);
}

#home img {
  max-width: 200px;
}

#projects {
  color: var(--text);
  text-align: center;
}

#projects h1 {
  padding: 3rem 0;
}

#projects .project-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 1em;
  -ms-grid-columns: (minmax(330px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  justify-items: center;
  padding-bottom: 3rem;
}

#projects .project-container a {
  width: 330px;
  background: -webkit-gradient(linear, left top, right top, from(var(--surface)), to(var(--primary)));
  background: linear-gradient(to right, var(--surface), var(--primary));
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

#projects .project-container a:hover {
  -webkit-box-shadow: 0px 0px 8px 1px #000;
          box-shadow: 0px 0px 8px 1px #000;
  -webkit-transform: translate3d(0, -10px, 0);
          transform: translate3d(0, -10px, 0);
}

#projects .project-container .project-detail {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  color: #fff;
  z-index: 3;
  top: 0;
  right: 0;
}

#projects .project-container .project-detail:target {
  left: 0;
  bottom: 0;
}

#projects .project-container .project-detail .close {
  position: absolute;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: inherit;
  background: initial;
  top: 1rem;
  text-decoration: underline;
  -webkit-text-decoration-color: var(--border);
          text-decoration-color: var(--border);
  text-decoration-thickness: 3px;
  font-weight: bold;
}

#projects .project-container .project-detail .close:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#projects .project-container .project-detail img {
  position: absolute;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  top: 5rem;
}

#projects .project-container .project-detail h5 {
  position: absolute;
  margin-left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  top: 13.8rem;
}

#projects .project-container .project-detail p {
  position: absolute;
  top: 17rem;
  padding: 0 4rem;
  overflow-y: auto;
  display: block;
  height: 45%;
  overflow-y: auto;
}

#projects .project-container .project-detail .project-link {
  position: absolute;
  margin-left: calc(50% - 9rem);
  top: 90%;
}

#projects .project-container .project-detail .project-link a {
  padding: 0 10px;
  width: inherit;
  background: initial;
}

#projects .project-container .project-detail .project-link a:hover {
  -webkit-transform: none;
          transform: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#projects img {
  max-width: 330px;
}

.footer {
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(var(--surface)), to(var(--primary)));
  background: linear-gradient(to right, var(--surface), var(--primary));
  height: 70px;
  line-height: 70px;
}

.intro {
  position: fixed;
  color: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000;
  z-index: 4;
  overflow: none;
}

.intro .hide {
  position: absolute;
  width: 30rem;
  height: 10rem;
  background-color: transparent;
  background-color: #000;
}

@media (max-height: 450px) {
  #projects .project-container .project-detail p {
    height: 10%;
  }
}
/*# sourceMappingURL=style.css.map */