.button_container {
	display: flex;
	margin-top: 1.5rem;
	align-items: center;
}
.button_container > div {
	box-sizing: content-box;
	background-color: #374151;
	padding: 5px;
	border-radius: 50%;
	margin: 0 0.6rem;
	cursor: pointer;
	transition: all 0.3s;
	height: 32px;
	width: 100%;
	position: relative;
}
.button_container > div:hover {
	padding: 8px;
}
.profile_container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0;
}

.profile_img {
	border-radius: 50%;
	width: 100px;
	flex-shrink: 0;
}
.container > h1 {
	text-align: center;
	margin-bottom: 1.5rem;
}
.container {
	margin-bottom: 1rem;
}

@media only screen and (min-width: 1024px) {
	.container {
		max-width: 300px;
		position: sticky;
		top: 2rem;
		align-self: start;
	}
	.container > h1 {
		text-align: left;
	}
	.profile_container {
		justify-content: initial;
	}
	.container > p {
		padding: 0;
	}
}
