.container {
	display: flex;
	height: 37px;
	width: 100%;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
		linear-gradient(0deg, rgba(0, 0, 128, 0.2), rgba(0, 0, 128, 0.2)),
		linear-gradient(0deg, #c4c4c4, #c4c4c4);
	align-items: center;
	justify-content: space-between;
	cursor: default;
}

.container p {
	margin-left: 1rem;
	font-size: 12px;
}
.container .buttons {
	margin-right: 1rem;
}
.container .buttons button {
	width: 20px;
	height: 20px;
	background-color: #c4c4c4;
}
.container .buttons button:nth-child(2) {
	margin: 0 7px;
}

@media only screen and (min-width: 768px) {
	.container {
		height: 54px;
	}
	.container p {
		font-size: 18px;
	}
	.container .buttons button {
		width: 30px;
		height: 30px;
	}
}
