.container {
	display: flex;
	background-color: #c4c4c4;
	height: 20px;
	width: 100%;
	align-items: center;
}
.container p:nth-child(1) {
	margin-left: 1rem;
}
.container p {
	margin-right: 12px;
	cursor: pointer;
	font-size: 8px;
}
.container p span {
	text-decoration: underline;
}

@media only screen and (min-width: 768px) {
	.container {
		height: 32px;
	}
	.container p {
		margin-right: 18px;
		font-size: 12px;
	}
}
